// PRIMARY
$PRIMARY_RED: #e83151;
$PRIMARY_BLUE: #1c4dff;
$PRIMARY_GREEN: #19a648;
$PRIMARY_GREY: #f5f5f5;
$GREY: #f8f8f8;

// DARK
$DARK_GREY: #c1c1c1;

//TITLE
$TITLE_ACTIVE_1: #171717;
$TITLE_ACTIVE_2: #1d2939;
$TITLE_ACTIVE_3: #344054;
$TITLE_ACTIVE_4: #475467;
$TITLE_ACTIVE_5: #696969;
$TITLE_ACTIVE_6: #818c99;
$TITLE_ACTIVE_7: #98a2b3;
$TITLE_ACTIVE_8: #d0d5dd;
$TITLE_ACTIVE_9: #e4e7ec;
$TITLE_ACTIVE_10: #f2f4f7;
$TITLE_ACTIVE_11: #f9fafb;
$TITLE_ACTIVE_12: #ffffff;
$TITLE_ACTIVE_13: #e2e1e4;
// EXTRA
$EXTRA_BODY: #1cc8ee;
$EXTRA_LABEL: #ed2e7e;
$EXTRA_LABEL_2: #d6bbfb;
$EXTRA_LINE_YELLOW: #fec84b;
$EXTRA_LINE_BLUE: #1890ff;
$EXTRA_LINE_ORANGE: #fdb022;
$EXTRA_LINE_GREEN: #19a648;

//LIGHT
$LIGHT_BLUE: #597dfb;
$LIGHT_GREEN: #2dc2bd;
