.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f4f8; // Light grey background
}
.annoucement {
  margin-bottom: 20px;
}
.userSection {
  display: flex;
  align-items: center;
  background-color: #ffffff; // White background
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.userImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.userInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userName {
  font-size: 1.5rem;
  color: #003366; // Dark blue color
  margin: 0;
}

.userEmail {
  font-size: 1rem;
  color: #666666; // Grey color
  margin: 0;
}

.announcementSection {
  width: 100%;
  width: 600px;
  text-align: center;
}

.title {
  font-size: 2rem;
  color: #003366; // Dark blue color
  margin-bottom: 10px;
 text-align: center;
  
}
.image {
  width: 100%;
  max-height: 400px;
}
.description {
  font-size: 1rem;
  color: #666666; // Grey color
}
